* {
    font-family: "Raleway", sans-serif;
}

body {
    margin: 50px 10vw;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.vs-input, #create-button, #update-button {
    margin: 5px 0px;
    height: 40px;
    width: 80% !important;
}

#create-button, #update-button {
    margin-top: 20px;
    border-radius: 50px;
    width: 30% !important;
}

#button-container {
    display: flex;
    justify-content: center;
}

.error-para {
    display: flex;
    justify-content: center;
    color: #f05454;
}

.task-div {
    padding: 10px 50px;
    margin: 20px;
    border-radius: 20px;
    background-color: #fafafa;
    box-shadow: 1px 1px 1px #dadada;
}

h3, p {
    margin: 8px 0px !important;
}